{% extends "_base.html" %}

{% block content %}


{% load widget_tweaks %}




{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="form">


<form class="login-form" method="post" action="{% url 'login_user' %}">
  {% csrf_token %}
      <span id="username_text">
        Username
      </span>
      <input type="text" id="username" name="username" value="Guest" >
      <span id="password_text">
        Password
      </span>
      <input type="password" name="password" id="password" value="Gta4gta4" >

      <button type="submit">login</button>
      <p class="message">Not registered? <a href="{% url 'new_account' %}">Create an account</a></p>
    </form>

</div>






{% endblock %}
